In [3]:
import pandas as pd
import numpy as np

gREAD DATA

In [27]:
df_renewable_energy = pd.read_csv("../data/raw/API_EG.FEC.RNEW.ZS_DS2_en_csv_v2_1199607.csv")
df_gdp = pd.read_csv("../data/raw/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_1232731.csv")
df_deforestation = pd.read_excel("../data/raw/global_05212025.xlsx", sheet_name="Country tree cover loss",header=1)

RENEWABLE ENERGY

In [9]:
df_renewable_energy

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.700000,7.000000,6.800000,8.600000,8.300000,9.10000,8.8,8.8,NaN,NaN
1,Africa Eastern and Southern,AFE,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.670278,61.822884,61.426950,61.587530,62.690710,65.78238,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.700000,20.200000,19.500000,18.300000,18.900000,18.20000,20.0,20.0,NaN,NaN
3,Africa Western and Central,AFW,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,76.181671,75.796840,76.101681,75.476578,75.078788,75.84698,NaN,NaN,NaN,NaN
4,Angola,AGO,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,47.100000,48.100000,52.500000,52.500000,51.000000,60.10000,52.9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,2.600000,3.000000,2.900000,3.000000,3.50000,3.7,NaN,NaN,NaN
263,South Africa,ZAF,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.600000,7.800000,7.900000,8.000000,8.700000,9.80000,9.7,NaN,NaN,NaN
264,Zambia,ZMB,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,84.000000,84.000000,83.500000,83.800000,86.100000,85.40000,83.0,NaN,NaN,NaN
265,Zimbabwe,ZWE,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,80.800000,81.700000,82.000000,79.700000,81.000000,84.10000,82.4,NaN,NaN,NaN

In [24]:
df_renewable_energy.shape

(266, 69)

In [23]:
df_renewable_energy.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,212.000000,71.000000,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.678165,29.469199,29.293405,29.377235,29.293945,30.347887,29.080189,29.570423,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.680422,27.394752,27.241619,27.038299,26.844118,26.980930,27.308997,30.933811,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.038943,7.252313,7.300000,7.675000,8.175000,9.000000,7.250000,3.450000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.300000,20.950000,19.600000,20.750000,19.322000,20.979574,20.300000,12.200000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.225000,46.075000,45.450000,47.150000,46.275000,49.075000,46.050000,52.350000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.800000,97.000000,96.700000,96.400000,96.300000,96.200000,96.300000,95.400000,NaN,NaN

In [11]:
cols = [col for col in df_renewable_energy.columns if col.isdigit() and 2000 <= int(col) <= 2025 or col=='Country Name']
df_renewable_energy_selected = df_renewable_energy[cols]
print(df_renewable_energy_selected)

                    Country Name       2000       2001       2002       2003  \
0                          Aruba   0.200000   0.200000   0.200000   0.200000
1    Africa Eastern and Southern  65.385867  65.817363  65.099281  64.615124
2                    Afghanistan  45.000000  45.600000  37.800000  36.700000
3     Africa Western and Central  83.101512  81.939243  81.735528  80.710450
4                         Angola  73.800000  72.800000  70.800000  65.600000
..                           ...        ...        ...        ...        ...
261                       Kosovo        NaN        NaN        NaN        NaN
262                  Yemen, Rep.   0.900000   0.900000   0.900000   0.800000
263                 South Africa  16.200000  15.000000  13.300000  11.800000
264                       Zambia  90.000000  89.800000  89.600000  89.300000
265                     Zimbabwe  69.500000  72.300000  74.700000  78.000000

          2004       2005       2006       2007       2008  ...       2015  \
0     0.200000   0.200000   0.200000   0.200000   0.200000  ...   6.700000
1    63.678035  63.109098  62.738124  61.505169  61.908027  ...  61.670278
2    44.200000  33.900000  31.900000  28.800000  21.200000  ...  17.700000
3    80.790537  80.934034  81.873310  82.330015  81.211170  ...  76.181671
4    62.300000  68.900000  62.600000  58.900000  55.400000  ...  47.100000
..         ...        ...        ...        ...        ...  ...        ...
261        NaN        NaN        NaN        NaN        NaN  ...        NaN
262   0.800000   0.700000   0.800000   0.800000   0.700000  ...   2.000000
263  11.000000   9.700000   9.300000   8.700000   9.700000  ...   7.600000
264  89.400000  88.900000  89.700000  90.700000  89.800000  ...  84.000000
265  81.800000  80.300000  78.700000  78.000000  81.600000  ...  80.800000

          2016       2017       2018       2019      2020  2021  2022  2023  \
0     7.000000   6.800000   8.600000   8.300000   9.10000   8.8   8.8   NaN
1    61.822884  61.426950  61.587530  62.690710  65.78238   NaN   NaN   NaN
2    20.200000  19.500000  18.300000  18.900000  18.20000  20.0  20.0   NaN
3    75.796840  76.101681  75.476578  75.078788  75.84698   NaN   NaN   NaN
4    48.100000  52.500000  52.500000  51.000000  60.10000  52.9   NaN   NaN
..         ...        ...        ...        ...       ...   ...   ...   ...
261        NaN        NaN        NaN        NaN       NaN   NaN   NaN   NaN
262   2.600000   3.000000   2.900000   3.000000   3.50000   3.7   NaN   NaN
263   7.800000   7.900000   8.000000   8.700000   9.80000   9.7   NaN   NaN
264  84.000000  83.500000  83.800000  86.100000  85.40000  83.0   NaN   NaN
265  81.700000  82.000000  79.700000  81.000000  84.10000  82.4   NaN   NaN

     2024
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
..    ...
261   NaN
262   NaN
263   NaN
264   NaN
265   NaN

[266 rows x 26 columns]

In [13]:
df_renewable_energy_selected.isna().sum()

Country Name      0
2000             11
2001             11
2002              9
2003              9
2004              9
2005              8
2006              8
2007              8
2008              8
2009              8
2010              8
2011              8
2012              6
2013              6
2014              6
2015              6
2016              6
2017              6
2018              6
2019              6
2020              6
2021             54
2022            195
2023            266
2024            266
dtype: int64

In [22]:
df_renewable_energy_selected["Country Name"][df_renewable_energy_selected["Country Name"].duplicated()]

Series([], Name: Country Name, dtype: object)

GDP

In [17]:
df_gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.420993e+10,2.496326e+10,2.707802e+10,3.177483e+10,3.028492e+10,3.381219e+10,...,8.983090e+11,8.289610e+11,9.730250e+11,1.012290e+12,1.009750e+12,9.334070e+11,1.085600e+12,1.191640e+12,1.176910e+12,1.287680e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.715223e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190511e+10,1.270803e+10,1.363092e+10,1.446926e+10,1.580394e+10,1.692124e+10,...,7.780220e+11,7.000280e+11,6.940510e+11,7.778400e+11,8.332890e+11,7.972950e+11,8.581150e+11,8.936400e+11,8.147290e+11,6.700260e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.044000e+11,8.487516e+10,8.039694e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10,1.114860e+10
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.244449e+10,3.131783e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.467100e+11,3.235860e+11,3.814490e+11,4.052610e+11,3.893300e+11,3.379750e+11,4.208870e+11,4.069200e+11,3.806990e+11,4.002610e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,...,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10,2.632578e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.996306e+10,2.054876e+10,5.107473e+10,3.415606e+10,2.571566e+10,2.686856e+10,2.724051e+10,3.278966e+10,3.523137e+10,4.418770e+10

In [16]:
df_gdp.shape

(266, 69)

In [15]:
df_gdp.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,1.510000e+02,1.540000e+02,1.560000e+02,1.560000e+02,1.560000e+02,1.620000e+02,1.630000e+02,1.670000e+02,1.680000e+02,1.680000e+02,...,2.590000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.570000e+02,2.570000e+02,2.560000e+02,2.480000e+02,2.310000e+02
mean,6.737499e+10,6.967394e+10,7.322293e+10,7.954054e+10,8.734412e+10,9.187418e+10,9.848611e+10,1.015626e+11,1.087564e+11,1.204143e+11,...,2.392105e+12,2.434240e+12,2.607606e+12,2.777117e+12,2.820305e+12,2.749914e+12,3.159920e+12,3.305688e+12,3.558333e+12,3.965190e+12
std,2.013766e+11,2.114588e+11,2.261068e+11,2.437226e+11,2.668756e+11,2.855963e+11,3.099359e+11,3.260050e+11,3.518579e+11,3.878116e+11,...,8.201164e+12,8.355833e+12,8.893161e+12,9.472953e+12,9.617554e+12,9.407563e+12,1.075188e+13,1.117560e+13,1.185880e+13,1.275092e+13
min,1.201202e+07,1.159202e+07,1.254164e+07,1.283330e+07,1.341663e+07,1.359393e+07,1.446908e+07,1.583511e+07,1.460000e+07,1.585000e+07,...,3.681194e+07,4.162906e+07,4.527660e+07,4.801526e+07,5.412320e+07,5.174659e+07,6.019641e+07,5.906598e+07,6.228031e+07,1.603506e+08
25%,5.079241e+08,5.007338e+08,5.635025e+08,5.688000e+08,5.727569e+08,5.943192e+08,6.428277e+08,6.311234e+08,6.211906e+08,6.574670e+08,...,8.766202e+09,8.620784e+09,9.193745e+09,9.928840e+09,1.011166e+10,9.515415e+09,1.007135e+10,1.235553e+10,1.515940e+10,1.946921e+10
50%,3.359404e+09,3.330233e+09,3.296617e+09,3.793367e+09,3.956737e+09,3.476755e+09,3.929055e+09,3.532700e+09,4.537000e+09,5.087251e+09,...,4.943681e+10,4.909109e+10,5.315128e+10,5.776310e+10,6.070481e+10,5.355936e+10,6.196171e+10,6.991887e+10,7.954410e+10,9.319733e+10
75%,3.308926e+10,3.292739e+10,3.293984e+10,3.762747e+10,3.799021e+10,3.645784e+10,3.881234e+10,3.788058e+10,4.178640e+10,4.670999e+10,...,4.973625e+11,5.042315e+11,5.341522e+11,5.491438e+11,5.421642e+11,5.451480e+11,6.371870e+11,6.484945e+11,8.346530e+11,1.212680e+12
max,1.366520e+12,1.444160e+12,1.545550e+12,1.671280e+12,1.832060e+12,1.996310e+12,2.163210e+12,2.295470e+12,2.480760e+12,2.739620e+12,...,7.572360e+13,7.695730e+13,8.197480e+13,8.718900e+13,8.849240e+13,8.611660e+13,9.836570e+13,1.024350e+14,1.069710e+14,1.113260e+14

In [19]:
df_gdp_selected = df_gdp[cols]
print(df_gdp_selected)

                    Country Name          2000          2001          2002  \
0                          Aruba  1.873453e+09  1.896457e+09  1.961844e+09
1    Africa Eastern and Southern  2.872020e+11  2.609920e+11  2.678150e+11
2                    Afghanistan  3.521418e+09  2.813572e+09  3.825701e+09
3     Africa Western and Central  1.421400e+11  1.500580e+11  1.793900e+11
4                         Angola  9.129595e+09  8.936079e+09  1.528559e+10
..                           ...           ...           ...           ...
261                       Kosovo           NaN           NaN           NaN
262                  Yemen, Rep.  9.679317e+09  9.852991e+09  1.069343e+10
263                 South Africa  1.517530e+11  1.354300e+11  1.290880e+11
264                       Zambia  3.600632e+09  4.094441e+09  4.193850e+09
265                     Zimbabwe  6.689958e+09  6.777385e+09  6.342117e+09

             2003          2004          2005          2006          2007  \
0    2.044112e+09  2.254831e+09  2.360017e+09  2.469783e+09  2.677641e+09
1    3.557160e+11  4.426960e+11  5.166610e+11  5.802410e+11  6.655990e+11
2    4.520947e+09  5.224897e+09  6.203257e+09  6.971758e+09  9.747886e+09
3    2.077550e+11  2.585670e+11  3.170960e+11  4.027240e+11  4.715380e+11
4    1.781270e+10  2.355206e+10  3.697090e+10  5.238103e+10  6.526642e+10
..            ...           ...           ...           ...           ...
261           NaN           NaN           NaN           NaN           NaN
262  1.177753e+10  1.386763e+10  1.673157e+10  1.906314e+10  2.165053e+10
263  1.970190e+11  2.558070e+11  2.888670e+11  3.038590e+11  3.330770e+11
264  4.901870e+09  6.221110e+09  8.331870e+09  1.275686e+10  1.405696e+10
265  5.727592e+09  5.805599e+09  5.755216e+09  5.443897e+09  5.291951e+09

             2008  ...          2015          2016          2017  \
0    2.843025e+09  ...  2.962907e+09  2.983635e+09  3.092429e+09
1    7.135020e+11  ...  8.983090e+11  8.289610e+11  9.730250e+11
2    1.010930e+10  ...  1.913422e+10  1.811657e+10  1.875346e+10
3    5.750590e+11  ...  7.780220e+11  7.000280e+11  6.940510e+11
4    8.853867e+10  ...  9.049642e+10  5.276162e+10  7.369015e+10
..            ...  ...           ...           ...           ...
261  5.181777e+09  ...  6.295848e+09  6.682677e+09  7.180765e+09
262  2.691086e+10  ...  4.244449e+10  3.131783e+10  2.684223e+10
263  3.161310e+11  ...  3.467100e+11  3.235860e+11  3.814490e+11
264  1.791086e+10  ...  2.125122e+10  2.095841e+10  2.587360e+10
265  4.415703e+09  ...  1.996306e+10  2.054876e+10  5.107473e+10

             2018          2019          2020          2021          2022  \
0    3.276184e+09  3.395799e+09  2.481857e+09  2.929447e+09  3.279344e+09
1    1.012290e+12  1.009750e+12  9.334070e+11  1.085600e+12  1.191640e+12
2    1.805322e+10  1.879944e+10  1.995593e+10  1.426000e+10  1.449724e+10
3    7.778400e+11  8.332890e+11  7.972950e+11  8.581150e+11  8.936400e+11
4    7.945069e+10  7.089796e+10  4.850156e+10  6.650513e+10  1.044000e+11
..            ...           ...           ...           ...           ...
261  7.878760e+09  7.899738e+09  7.717145e+09  9.413404e+09  9.354903e+09
262  2.160616e+10           NaN           NaN           NaN           NaN
263  4.052610e+11  3.893300e+11  3.379750e+11  4.208870e+11  4.069200e+11
264  2.631151e+10  2.330867e+10  1.813776e+10  2.209642e+10  2.916378e+10
265  3.415606e+10  2.571566e+10  2.686856e+10  2.724051e+10  3.278966e+10

             2023          2024
0    3.648573e+09           NaN
1    1.176910e+12  1.287680e+12
2    1.715223e+10           NaN
3    8.147290e+11  6.700260e+11
4    8.487516e+10  8.039694e+10
..            ...           ...
261  1.046822e+10  1.114860e+10
262           NaN           NaN
263  3.806990e+11  4.002610e+11
264  2.757796e+10  2.632578e+10
265  3.523137e+10  4.418770e+10

[266 rows x 26 columns]

In [20]:
df_gdp_selected.isna().sum()

Country Name     0
2000            14
2001            13
2002             9
2003             9
2004             9
2005             9
2006             8
2007             8
2008             7
2009             5
2010             5
2011             4
2012             6
2013             6
2014             5
2015             7
2016             8
2017             8
2018             8
2019             8
2020             9
2021             9
2022            10
2023            18
2024            35
dtype: int64

In [21]:
df_gdp_selected["Country Name"][df_gdp_selected["Country Name"].duplicated()]

Series([], Name: Country Name, dtype: object)

Deforestation

In [28]:
df_deforestation.shape

(1319, 30)

In [29]:
df_deforestation

,Afghanistan,0,64383655,64383655.1,64383655.2,10738,103,214,267,226,...,0.1,0.2,0.3,31,25,46,47,16,133,223
0,Afghanistan,10,64383655,432070,126231,10738,92,190,254,207,...,0,0,0,28,19,40,37,9,32,32
1,Afghanistan,15,64383655,302629,106852,10738,91,186,248,205,...,0,0,0,28,19,39,32,7,23,17
2,Afghanistan,20,64383655,284330,105718,10738,89,181,245,203,...,0,0,0,28,18,39,32,7,22,16
3,Afghanistan,25,64383655,254843,72384,10738,89,180,244,202,...,0,0,0,27,18,38,27,6,21,14
4,Afghanistan,30,64383655,205771,71786,10738,88,179,244,201,...,0,0,0,26,18,36,26,6,15,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,Åland,20,150613,109897,108508,2583,398,278,221,736,...,568,675,737,621,2364,675,1357,1173,1098,955
1315,Åland,25,150613,108748,104703,2583,397,278,221,736,...,567,674,736,620,2363,675,1356,1170,1096,954
1316,Åland,30,150613,107739,103087,2583,397,277,221,736,...,567,672,735,620,2361,674,1355,1167,1093,951
1317,Åland,50,150613,87773,85300,2583,389,274,216,728,...,547,641,704,604,2331,663,1327,1098,1045,899
1318,Åland,75,150613,60890,60461,2583,358,256,205,694,...,484,551,606,538,2180,608,1193,926,910,756